/* line 5, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 24, ../sass/style.scss */
.fn-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* line 30, ../sass/style.scss */
.fn-left {
  float: left;
}

/* line 34, ../sass/style.scss */
.fn-right {
  float: right;
}

/* line 38, ../sass/style.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 39, ../sass/style.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 44, ../sass/style.scss */
.clearfix:after {
  clear: both;
}

/* line 51, ../sass/style.scss */
.fa {
  font-size: 1rem;
}

/* line 56, ../sass/style.scss */
.circle {
  width: 35px;
  height: 35px;
  -moz-border-radius: 35px / 35px;
  -webkit-border-radius: 35px 35px;
  border-radius: 35px / 35px;
}

/* line 60, ../sass/style.scss */
.circle-large {
  width: 80px;
  height: 80px;
  -moz-border-radius: 80px / 80px;
  -webkit-border-radius: 80px 80px;
  border-radius: 80px / 80px;
}

/* line 64, ../sass/style.scss */
.container {
  margin: 15px 0;
}

/* line 68, ../sass/style.scss */
html, body {
  min-width: 1020px;
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  color: #000;
  background-color: #FFFBF5;
}

/* line 76, ../sass/style.scss */
body {
  position: relative;
  height: 100%;
  font-weight: lighter;
}

/* main layout */
/* line 84, ../sass/style.scss */
section.main {
  position: relative;
  padding: 0 300px 0 270px;
  height: 100%;
}
/* line 89, ../sass/style.scss */
section.main .left {
  position: absolute;
  top: 0;
  left: 0;
  width: 270px;
  height: 100%;
  background-color: #80A8CC;
}
/* line 97, ../sass/style.scss */
section.main .right {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
}
/* line 104, ../sass/style.scss */
section.main .content {
  padding: 25px;
  background-color: #F2EEE8;
}
/* line 108, ../sass/style.scss */
section.main .content-box {
  margin-top: 25px;
  background-color: #FFFBF5;
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
/* line 114, ../sass/style.scss */
section.main .content-box > li {
  border-bottom: 1px solid #cccccc;
}

/* line 121, ../sass/style.scss */
header {
  border-bottom: 1px solid #F2EEE8;
}
/* line 123, ../sass/style.scss */
header .circle {
  text-align: center;
}
/* line 125, ../sass/style.scss */
header .circle i {
  line-height: 35px;
}
/* line 130, ../sass/style.scss */
header img {
  height: 35px;
  width: 35px;
  border-radius: 35px 35px;
}
/* line 136, ../sass/style.scss */
header .menu {
  border-right: 1px solid #F2EEE8;
  padding: 15px;
}
/* line 139, ../sass/style.scss */
header .menu .circle {
  background-color: #80A8CC;
}
/* line 143, ../sass/style.scss */
header .bar {
  padding: 14px;
}
/* line 145, ../sass/style.scss */
header .bar li {
  float: left;
  margin-right: 15px;
}
/* line 149, ../sass/style.scss */
header .bar .circle {
  border: 1px solid #F2EEE8;
}
/* line 153, ../sass/style.scss */
header .logo {
  line-height: 65px;
  color: #80A8CC;
  font-size: 35px;
}
/* line 158, ../sass/style.scss */
header .search {
  height: 65px;
  line-height: 65px;
}
/* line 161, ../sass/style.scss */
header .search input {
  border: 1px solid #ccc;
  height: 35px;
  width: 180px;
  padding: 5px 10px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
}
/* line 61, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
header .search input:-moz-placeholder {
  color: #ccc;
}
/* line 64, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
header .search input::-moz-placeholder {
  color: #ccc;
}
/* line 67, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
header .search input:-ms-input-placeholder {
  color: #ccc;
}
/* line 56, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
header .search input::-webkit-input-placeholder {
  color: #ccc;
}
/* line 172, ../sass/style.scss */
header .user {
  padding: 15px;
  margin-right: 5px;
}
/* line 175, ../sass/style.scss */
header .user .circle {
  background-color: #80A8CC;
}

/* left side */
/* line 182, ../sass/style.scss */
.user-info {
  color: #ffffff;
  padding: 30px 20px;
}
/* line 185, ../sass/style.scss */
.user-info strong {
  font-size: 1.3rem;
  margin-top: 20px;
  display: block;
}
/* line 190, ../sass/style.scss */
.user-info .right {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
}
/* line 197, ../sass/style.scss */
.user-info p {
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 20px;
}
/* line 202, ../sass/style.scss */
.user-info a {
  color: #ffffff;
  text-decoration: none;
  display: block;
}
/* line 206, ../sass/style.scss */
.user-info a:hover {
  text-decoration: underline;
}
/* line 210, ../sass/style.scss */
.user-info .site {
  margin-bottom: 15px;
}
/* line 212, ../sass/style.scss */
.user-info .site:before {
  content: ",";
  margin-right: 10px;
}
/* line 217, ../sass/style.scss */
.user-info .follow {
  width: 50px;
  padding: 8px 40px;
  color: #ffffff;
  display: block;
  cursor: pointer;
  background-color: #4276a4;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
}
/* line 225, ../sass/style.scss */
.user-info .follow:hover {
  background-color: #5c8fbd;
}

/* line 231, ../sass/style.scss */
.pictures {
  width: 100%;
}
/* line 233, ../sass/style.scss */
.pictures li {
  float: left;
  width: 90px;
  height: 90px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 239, ../sass/style.scss */
.pictures img {
  width: 100%;
  height: 100%;
}

/* line 245, ../sass/style.scss */
.activities {
  padding: 25px 20px;
}
/* line 247, ../sass/style.scss */
.activities strong, .activities a {
  color: white;
}
/* line 250, ../sass/style.scss */
.activities i, .activities span {
  color: #4276a4;
}
/* line 253, ../sass/style.scss */
.activities ul {
  margin-top: 10px;
}
/* line 255, ../sass/style.scss */
.activities ul li {
  line-height: 25px;
}
/* line 259, ../sass/style.scss */
.activities span {
  margin-left: 5px;
}

/* center */
/* line 268, ../sass/style.scss */
.twitter-numbers {
  background-color: #FFFBF5;
  border: 1px solid #ccc;
}
/* line 271, ../sass/style.scss */
.twitter-numbers li {
  float: left;
  width: 25%;
  padding: 20px 0;
}
/* line 275, ../sass/style.scss */
.twitter-numbers li.active {
  border-bottom: 5px solid #80A8CC;
}
/* line 279, ../sass/style.scss */
.twitter-numbers span {
  color: #8D8B86;
  font-size: 1.2rem;
  line-height: 1.2rem;
}
/* line 284, ../sass/style.scss */
.twitter-numbers strong {
  display: block;
  margin-top: 0.3rem;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 1.3rem;
}

/* line 292, ../sass/style.scss */
.twitter {
  position: relative;
  padding: 2rem 2rem 2rem 6rem;
}
/* line 295, ../sass/style.scss */
.twitter .user {
  position: absolute;
  left: 2rem;
}
/* line 299, ../sass/style.scss */
.twitter .new {
  color: #ADD278;
  margin-right: 0.2rem;
}
/* line 303, ../sass/style.scss */
.twitter .name {
  font-weight: bold;
}
/* line 306, ../sass/style.scss */
.twitter a {
  text-decoration: none;
  color: #CAC5B6;
}
/* line 309, ../sass/style.scss */
.twitter a:hover {
  color: #8D8B86;
}
/* line 313, ../sass/style.scss */
.twitter .time {
  color: #CAC5B6;
}
/* line 316, ../sass/style.scss */
.twitter p {
  margin: 0.5rem 0 1rem;
  line-height: 1.5rem;
}
/* line 319, ../sass/style.scss */
.twitter p img {
  width: 100%;
}
/* line 323, ../sass/style.scss */
.twitter li {
  float: left;
  margin-right: 1rem;
}
/* line 326, ../sass/style.scss */
.twitter li.last {
  float: right;
  margin-right: 0;
}
/* line 330, ../sass/style.scss */
.twitter li i {
  color: #CAC5B6;
  cursor: pointer;
}
/* line 333, ../sass/style.scss */
.twitter li i:hover {
  color: inherit;
}
/* line 336, ../sass/style.scss */
.twitter li i span {
  margin-left: 0.3rem;
}

/*right*/
/* line 345, ../sass/style.scss */
.right .trends {
  padding: 5px 20px;
}
/* line 348, ../sass/style.scss */
.right .trends .links {
  margin: 1.2rem 0.5rem 0.8rem 0.5rem;
}
/* line 352, ../sass/style.scss */
.right .trends .header {
  padding-bottom: 0.8rem;
}
/* line 357, ../sass/style.scss */
.right .trends strong {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #8D8B86;
  font-weight: lighter;
}
/* line 364, ../sass/style.scss */
.right .trends a {
  line-height: 1.8rem;
  color: #80A8CC;
  font-size: 1.1rem;
  font-weight: lighter;
  text-decoration: none;
}
/* line 370, ../sass/style.scss */
.right .trends a:hover {
  text-decoration: underline;
}
/* line 376, ../sass/style.scss */
.right .followed {
  margin: 1.2rem 0.5rem 0.8rem 0.5rem;
  position: relative;
}
/* line 380, ../sass/style.scss */
.right .followed .header {
  position: relative;
  padding-right: 0;
}
/* line 384, ../sass/style.scss */
.right .followed .header strong {
  position: relative;
}
/* line 388, ../sass/style.scss */
.right .followed .header .more {
  position: absolute;
  right: 0;
  font-size: 1.3rem;
}
/* line 392, ../sass/style.scss */
.right .followed .header .more:hover {
  color: inherit;
}
/* line 398, ../sass/style.scss */
.right .followed li {
  position: relative;
  margin-top: 0.8rem;
}
/* line 406, ../sass/style.scss */
.right .followed li img {
  height: 35px;
  width: 35px;
  border-radius: 35px 35px;
  position: absolute;
}
/* line 413, ../sass/style.scss */
.right .followed li .user {
  position: absolute;
}
/* line 417, ../sass/style.scss */
.right .followed li .name {
  margin-left: 4rem;
  font-size: 1.1rem;
  width: 12rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #8D8B86;
}
/* line 427, ../sass/style.scss */
.right .followed li .role {
  margin-left: 4rem;
  font-size: 1.1rem;
  width: 12rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #CAC5B6;
}
/* line 437, ../sass/style.scss */
.right .followed li .followedIcon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.2px 3px 0.2px 3px;
  border: 1px solid #CAC5B6;
}
