/* line 5, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 24, ../sass/style.scss */
.fn-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* line 30, ../sass/style.scss */
.fn-left {
  float: left;
}

/* line 34, ../sass/style.scss */
.fn-right {
  float: right;
}

/* line 38, ../sass/style.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 39, ../sass/style.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 44, ../sass/style.scss */
.clearfix:after {
  clear: both;
}

/* line 51, ../sass/style.scss */
.fa {
  font-size: 1rem;
}

/* line 56, ../sass/style.scss */
.circle {
  width: 35px;
  height: 35px;
  -moz-border-radius: 35px / 35px;
  -webkit-border-radius: 35px 35px;
  border-radius: 35px / 35px;
}

/* line 60, ../sass/style.scss */
.circle-large {
  width: 80px;
  height: 80px;
  -moz-border-radius: 80px / 80px;
  -webkit-border-radius: 80px 80px;
  border-radius: 80px / 80px;
}

/* line 64, ../sass/style.scss */
.container {
  margin: 15px 0;
}

/* line 68, ../sass/style.scss */
html, body {
  min-width: 1020px;
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  color: #000;
  background-color: #FFFBF5;
}

/* line 76, ../sass/style.scss */
body {
  position: relative;
  height: 100%;
  font-weight: lighter;
}

/* main layout */
/* line 84, ../sass/style.scss */
section.main {
  position: relative;
  padding: 0 300px 0 270px;
  height: 100%;
}
/* line 89, ../sass/style.scss */
section.main .left {
  position: absolute;
  top: 0;
  left: 0;
  width: 270px;
  height: 100%;
  background-color: #80A8CC;
}
/* line 97, ../sass/style.scss */
section.main .right {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
}
/* line 104, ../sass/style.scss */
section.main .content {
  padding: 25px;
  background-color: #F2EEE8;
}
/* line 108, ../sass/style.scss */
section.main .content-box {
  margin-top: 25px;
  background-color: #FFFBF5;
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
/* line 114, ../sass/style.scss */
section.main .content-box > li {
  border-bottom: 1px solid #cccccc;
}

/* line 121, ../sass/style.scss */
header {
  border-bottom: 1px solid #F2EEE8;
}
/* line 123, ../sass/style.scss */
header .circle {
  text-align: center;
}
/* line 125, ../sass/style.scss */
header .circle i {
  line-height: 35px;
}
/* line 129, ../sass/style.scss */
header .menu {
  border-right: 1px solid #F2EEE8;
  padding: 15px;
}
/* line 132, ../sass/style.scss */
header .menu .circle {
  background-color: #80A8CC;
}
/* line 136, ../sass/style.scss */
header .bar {
  padding: 14px;
}
/* line 138, ../sass/style.scss */
header .bar li {
  float: left;
  margin-right: 15px;
}
/* line 142, ../sass/style.scss */
header .bar .circle {
  border: 1px solid #F2EEE8;
}
/* line 146, ../sass/style.scss */
header .logo {
  line-height: 65px;
  color: #80A8CC;
  font-size: 35px;
}
/* line 151, ../sass/style.scss */
header .search {
  height: 65px;
  line-height: 65px;
}
/* line 154, ../sass/style.scss */
header .search input {
  border: 1px solid #ccc;
  height: 35px;
  width: 180px;
  padding: 5px 10px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
}
/* line 61, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
header .search input:-moz-placeholder {
  color: #ccc;
}
/* line 64, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
header .search input::-moz-placeholder {
  color: #ccc;
}
/* line 67, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
header .search input:-ms-input-placeholder {
  color: #ccc;
}
/* line 56, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
header .search input::-webkit-input-placeholder {
  color: #ccc;
}
/* line 165, ../sass/style.scss */
header .user {
  padding: 15px;
  margin-right: 5px;
}
/* line 168, ../sass/style.scss */
header .user .circle {
  background-color: #80A8CC;
}

/* left side */
/* line 175, ../sass/style.scss */
.user-info {
  color: #ffffff;
  padding: 30px 20px;
}
/* line 178, ../sass/style.scss */
.user-info .circle-large {
  margin-bottom: 20px;
  background-color: #FFFBF5;
}
/* line 181, ../sass/style.scss */
.user-info .circle-large i {
  color: #80A8CC;
  line-height: 80px;
}
/* line 186, ../sass/style.scss */
.user-info strong {
  font-size: 1.3rem;
}
/* line 189, ../sass/style.scss */
.user-info p {
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 20px;
}
/* line 194, ../sass/style.scss */
.user-info a {
  color: #ffffff;
  text-decoration: none;
  display: block;
}
/* line 198, ../sass/style.scss */
.user-info a:hover {
  text-decoration: underline;
}
/* line 202, ../sass/style.scss */
.user-info .site {
  margin-bottom: 15px;
}
/* line 204, ../sass/style.scss */
.user-info .site:before {
  content: ",";
  margin-right: 10px;
}
/* line 209, ../sass/style.scss */
.user-info .follow {
  width: 50px;
  padding: 8px 40px;
  background-color: #4276a4;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
}

/* line 217, ../sass/style.scss */
.pictures {
  width: 100%;
}
/* line 219, ../sass/style.scss */
.pictures li {
  border: 1px solid blue;
  float: left;
  width: 90px;
  height: 90px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 228, ../sass/style.scss */
.activities {
  padding: 25px 20px;
}
/* line 230, ../sass/style.scss */
.activities strong, .activities a {
  color: white;
}
/* line 233, ../sass/style.scss */
.activities i, .activities span {
  color: #4276a4;
}
/* line 236, ../sass/style.scss */
.activities ul {
  margin-top: 10px;
}
/* line 238, ../sass/style.scss */
.activities ul li {
  line-height: 25px;
}
/* line 242, ../sass/style.scss */
.activities span {
  margin-left: 5px;
}

/* center */
/* line 251, ../sass/style.scss */
.twitter-numbers {
  background-color: #FFFBF5;
  border: 1px solid #ccc;
}
/* line 255, ../sass/style.scss */
.twitter-numbers li {
  float: left;
  width: 25%;
  padding: 20px 0;
}
/* line 259, ../sass/style.scss */
.twitter-numbers li.active {
  border-bottom: 5px solid #80A8CC;
}
/* line 263, ../sass/style.scss */
.twitter-numbers span {
  color: #8D8B86;
  font-size: 1.2rem;
  line-height: 1.2rem;
}
/* line 268, ../sass/style.scss */
.twitter-numbers strong {
  display: block;
  margin-top: 0.3rem;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 1.3rem;
}

/* line 276, ../sass/style.scss */
.twitter {
  position: relative;
  padding: 2rem 2rem 2rem 6rem;
}
/* line 279, ../sass/style.scss */
.twitter .circle {
  background-color: #80A8CC;
}
/* line 282, ../sass/style.scss */
.twitter .user {
  position: absolute;
  left: 2rem;
}
/* line 286, ../sass/style.scss */
.twitter .name {
  font-weight: bold;
}
/* line 289, ../sass/style.scss */
.twitter .at {
  color: #CAC5B6;
}
/* line 292, ../sass/style.scss */
.twitter .time {
  color: #CAC5B6;
}
/* line 295, ../sass/style.scss */
.twitter p {
  margin: 0.5rem 0 1rem;
  line-height: 1.5rem;
}
/* line 299, ../sass/style.scss */
.twitter li {
  float: left;
  margin-right: 1rem;
}
/* line 302, ../sass/style.scss */
.twitter li.last {
  float: right;
  margin-right: 0;
}
/* line 306, ../sass/style.scss */
.twitter li i {
  color: #CAC5B6;
  cursor: pointer;
}
/* line 309, ../sass/style.scss */
.twitter li i:hover {
  color: inherit;
}
/* line 312, ../sass/style.scss */
.twitter li i span {
  margin-left: 0.3rem;
}
