/* line 5, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 21, ../sass/style.scss */
.fn-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* line 27, ../sass/style.scss */
.fn-left {
  float: left;
}

/* line 31, ../sass/style.scss */
.fn-right {
  float: right;
}

/* line 35, ../sass/style.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 36, ../sass/style.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 41, ../sass/style.scss */
.clearfix:after {
  clear: both;
}

/* line 48, ../sass/style.scss */
.fa {
  font-size: 1rem;
}

/* line 53, ../sass/style.scss */
.circle {
  width: 35px;
  height: 35px;
  -moz-border-radius: 35px / 35px;
  -webkit-border-radius: 35px 35px;
  border-radius: 35px / 35px;
}

/* line 57, ../sass/style.scss */
.circle-large {
  width: 80px;
  height: 80px;
  -moz-border-radius: 80px / 80px;
  -webkit-border-radius: 80px 80px;
  border-radius: 80px / 80px;
}

/* line 61, ../sass/style.scss */
.container {
  margin: 15px 0;
}

/* line 65, ../sass/style.scss */
html, body {
  min-width: 1020px;
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  color: #000;
  background-color: #FFFBF5;
}

/* line 73, ../sass/style.scss */
body {
  position: relative;
  height: 100%;
}

/* line 79, ../sass/style.scss */
header {
  border: 1px solid red;
}
/* line 81, ../sass/style.scss */
header .circle {
  text-align: center;
}
/* line 83, ../sass/style.scss */
header .circle i {
  line-height: 35px;
}
/* line 87, ../sass/style.scss */
header .menu {
  border-right: 1px solid #ccc;
  padding: 15px;
}
/* line 90, ../sass/style.scss */
header .menu .circle {
  background-color: #80A8CC;
}
/* line 94, ../sass/style.scss */
header .bar {
  padding: 14px;
}
/* line 96, ../sass/style.scss */
header .bar li {
  float: left;
  margin-right: 15px;
}
/* line 100, ../sass/style.scss */
header .bar .circle {
  border: 1px solid #F2EEE8;
}
/* line 104, ../sass/style.scss */
header .logo {
  line-height: 65px;
  color: #80A8CC;
  font-size: 35px;
}
/* line 109, ../sass/style.scss */
header .search {
  height: 65px;
  line-height: 65px;
}
/* line 112, ../sass/style.scss */
header .search input {
  border: 1px solid #ccc;
  height: 35px;
  width: 180px;
  padding: 5px 10px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
}
/* line 61, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
header .search input:-moz-placeholder {
  color: #ccc;
}
/* line 64, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
header .search input::-moz-placeholder {
  color: #ccc;
}
/* line 67, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
header .search input:-ms-input-placeholder {
  color: #ccc;
}
/* line 56, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
header .search input::-webkit-input-placeholder {
  color: #ccc;
}
/* line 123, ../sass/style.scss */
header .user {
  padding: 15px;
  margin-right: 5px;
}
/* line 126, ../sass/style.scss */
header .user .circle {
  background-color: #80A8CC;
}

/* line 133, ../sass/style.scss */
section.main {
  position: relative;
  padding: 0 300px;
  height: 100%;
}
/* line 138, ../sass/style.scss */
section.main .left {
  position: absolute;
  top: 0;
  left: 0;
  width: 270px;
  height: 100%;
  background-color: #80A8CC;
}
/* line 146, ../sass/style.scss */
section.main .right {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
}
/* line 153, ../sass/style.scss */
section.main .content {
  height: 1500px;
}

/* line 159, ../sass/style.scss */
.left .user-info {
  color: #ffffff;
  padding: 30px 20px;
}
/* line 162, ../sass/style.scss */
.left .user-info .circle-large {
  margin-bottom: 20px;
  background-color: #FFFBF5;
}
/* line 165, ../sass/style.scss */
.left .user-info .circle-large i {
  color: #80A8CC;
  line-height: 80px;
}
/* line 170, ../sass/style.scss */
.left .user-info strong {
  font-size: 1.3rem;
}
/* line 173, ../sass/style.scss */
.left .user-info p {
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 20px;
}
/* line 178, ../sass/style.scss */
.left .user-info a {
  color: #ffffff;
  text-decoration: none;
  display: block;
}
/* line 182, ../sass/style.scss */
.left .user-info a:hover {
  text-decoration: underline;
}
/* line 186, ../sass/style.scss */
.left .user-info .site {
  margin-bottom: 15px;
}
/* line 188, ../sass/style.scss */
.left .user-info .site:before {
  content: ",";
  margin-right: 10px;
}
/* line 193, ../sass/style.scss */
.left .user-info .follow {
  width: 50px;
  padding: 8px 40px;
  background-color: #4276a4;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
}
/* line 200, ../sass/style.scss */
.left .pictures {
  width: 100%;
}
/* line 202, ../sass/style.scss */
.left .pictures li {
  border: 1px solid blue;
  float: left;
  width: 90px;
  height: 90px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 210, ../sass/style.scss */
.left .activities {
  padding: 25px 20px;
}
/* line 212, ../sass/style.scss */
.left .activities strong, .left .activities a {
  color: white;
}
/* line 215, ../sass/style.scss */
.left .activities i, .left .activities span {
  color: #4276a4;
}
/* line 218, ../sass/style.scss */
.left .activities ul {
  margin-top: 10px;
}
/* line 220, ../sass/style.scss */
.left .activities ul li {
  line-height: 25px;
}
/* line 224, ../sass/style.scss */
.left .activities span {
  margin-left: 5px;
}
