/* line 5, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 22, ../sass/common/basic.scss */
.fn-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* line 28, ../sass/common/basic.scss */
.fn-left {
  float: left;
}

/* line 32, ../sass/common/basic.scss */
.fn-right {
  float: right;
}

/* line 36, ../sass/common/basic.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 37, ../sass/common/basic.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 42, ../sass/common/basic.scss */
.clearfix:after {
  clear: both;
}

/* line 49, ../sass/common/basic.scss */
.fa {
  font-size: 1rem;
}

/* line 53, ../sass/common/basic.scss */
html, body {
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  color: #ffffff;
  background-color: #333333;
  font-weight: lighter;
}

/* line 60, ../sass/common/basic.scss */
a {
  color: #ffffff;
  text-decoration: none;
}
/* line 63, ../sass/common/basic.scss */
a:hover {
  color: #B4000B;
  border-bottom: 1px dotted #B4000B;
}

/* line 5, ../sass/style.scss */
.container {
  padding-left: 20px;
  padding-right: 20px;
  width: 959px;
}

/* line 12, ../sass/style.scss */
header {
  height: 358px;
  background-image: url("../img/header-background.jpg");
}

/* line 17, ../sass/style.scss */
h4 {
  margin-bottom: 30px;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: normal;
}
/* line 22, ../sass/style.scss */
h4:after {
  content: " ";
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 30px;
  border-bottom: 2px solid #AAAAAA;
}

/* line 31, ../sass/style.scss */
section {
  border-top: 1px solid #AAAAAA;
  padding-top: 40px;
  padding-bottom: 50px;
}

/* line 38, ../sass/style.scss */
.live li {
  float: left;
  position: relative;
}
/* line 41, ../sass/style.scss */
.live li:nth-child(1), .live li:nth-child(2), .live li:nth-child(3) {
  margin-bottom: 20px;
}
/* line 44, ../sass/style.scss */
.live li:nth-child(2), .live li:nth-child(5) {
  margin-left: 20px;
  margin-right: 20px;
}
/* line 49, ../sass/style.scss */
.live li:hover img {
  opacity: 0.4;
}
/* line 52, ../sass/style.scss */
.live li:hover strong {
  position: absolute;
  display: inline;
  bottom: 2rem;
  left: 0;
  right: 0;
  font-size: 1.3rem;
}
/* line 62, ../sass/style.scss */
.live img {
  height: 230px;
  width: 306.33333px;
  display: block;
}
/* line 67, ../sass/style.scss */
.live strong {
  display: none;
}

/* line 75, ../sass/style.scss */
.level li {
  float: left;
  position: relative;
  width: 159.83333px;
}
/* line 80, ../sass/style.scss */
.level p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
/* line 84, ../sass/style.scss */
.level .user {
  line-height: 5rem;
}
/* line 87, ../sass/style.scss */
.level .icon-user {
  font-size: 3rem;
}
/* line 90, ../sass/style.scss */
.level .icon-user2 {
  font-size: 4rem;
}
/* line 93, ../sass/style.scss */
.level .icon-user3 {
  font-size: 5rem;
}

/* line 99, ../sass/style.scss */
footer {
  border-top: 1px solid #AAAAAA;
  padding-top: 1.7rem;
  padding-bottom: 0.7rem;
  height: 2rem;
}
