/* line 5, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 24, ../sass/basic.scss */
.fn-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* line 30, ../sass/basic.scss */
.fn-left {
  float: left;
}

/* line 34, ../sass/basic.scss */
.fn-right {
  float: right;
}

/* line 38, ../sass/basic.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 39, ../sass/basic.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 44, ../sass/basic.scss */
.clearfix:after {
  clear: both;
}

/* line 51, ../sass/basic.scss */
.fa {
  font-size: 1rem;
}

/* line 55, ../sass/basic.scss */
html, body {
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  color: #000;
  background-color: #333333;
  font-weight: lighter;
}

/* line 5, ../sass/style.scss */
.container {
  width: 959px;
}

/* line 9, ../sass/style.scss */
header {
  height: 358px;
  background-image: url("../img/header-background.jpg");
}

/* line 15, ../sass/style.scss */
.live {
  margin-top: 100px;
}
/* line 17, ../sass/style.scss */
.live li {
  float: left;
}
/* line 19, ../sass/style.scss */
.live li:nth-child(1), .live li:nth-child(2), .live li:nth-child(3) {
  margin-bottom: 20px;
}
/* line 22, ../sass/style.scss */
.live li:nth-child(2), .live li:nth-child(5) {
  margin-left: 20px;
  margin-right: 20px;
}
/* line 27, ../sass/style.scss */
.live img {
  height: 100px;
  width: 306.33333px;
  opacity: 0.4;
}
/* line 32, ../sass/style.scss */
.live img:hover {
  opacity: 1;
}
