/* line 5, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/styles.scss */
.fn-center {
  border-left: auto;
  border-right: auto;
  text-align: center;
}

/* line 16, ../sass/styles.scss */
.fn-left {
  float: left;
}

/* line 20, ../sass/styles.scss */
.fn-right {
  float: right;
}

/* line 24, ../sass/styles.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 25, ../sass/styles.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 30, ../sass/styles.scss */
.clearfix:after {
  clear: both;
}

/* line 37, ../sass/styles.scss */
.fa {
  font-size: 1em;
}

/* line 42, ../sass/styles.scss */
html, body {
  min-width: 1020px;
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  color: #000;
  background-color: #f4d18f;
}

/* line 49, ../sass/styles.scss */
body {
  margin: 50px;
}

/* line 54, ../sass/styles.scss */
.container .ctn {
  padding-left: 150px;
  padding-right: 150px;
}

/* line 60, ../sass/styles.scss */
.bar {
  height: 35px;
  background-color: #FFF;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px;
  border-radius: 10px 10px 0 0;
}
/* line 64, ../sass/styles.scss */
.bar li {
  float: left;
  width: 15px;
  height: 15px;
  margin-top: 10px;
  margin-left: 10px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
/* line 72, ../sass/styles.scss */
.bar .close {
  background-color: red;
}
/* line 75, ../sass/styles.scss */
.bar .min {
  background-color: yellow;
}
/* line 78, ../sass/styles.scss */
.bar .full {
  background-color: green;
}

/* line 83, ../sass/styles.scss */
.header {
  color: white;
  padding: 300px 0;
  background-image: url("../img/background.jpg");
  overflow: hidden;
  position: relative;
}
/* line 89, ../sass/styles.scss */
.header .login {
  position: absolute;
  top: 30px;
  right: 150px;
}
/* line 93, ../sass/styles.scss */
.header .login .lg-item {
  margin-right: 10px;
}
/* line 96, ../sass/styles.scss */
.header .login .sign-up {
  margin-left: 20px;
  padding: 8px 25px;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 104, ../sass/styles.scss */
.header .title {
  text-align: center;
}
/* line 106, ../sass/styles.scss */
.header .title h1 {
  font-size: 2em;
}
/* line 109, ../sass/styles.scss */
.header .title h3 {
  margin-top: 10px;
  font-size: 1.17em;
}
/* line 114, ../sass/styles.scss */
.header .search {
  margin: 20px auto 0;
  text-align: center;
}

/* line 120, ../sass/styles.scss */
.search-group {
  height: 50px;
  position: relative;
}
/* line 123, ../sass/styles.scss */
.search-group input {
  height: 100%;
  border: none;
  line-height: 1em;
  vertical-align: middle;
  padding: 0 15px;
}
/* line 130, ../sass/styles.scss */
.search-group input[type='text'] {
  width: 450px;
  background-color: rgba(255, 255, 255, 0.25);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px 0 0 3px;
}
/* line 61, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.search-group input[type='text']:-moz-placeholder {
  font-size: 1.1em;
  color: white;
}
/* line 64, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.search-group input[type='text']::-moz-placeholder {
  font-size: 1.1em;
  color: white;
}
/* line 67, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.search-group input[type='text']:-ms-input-placeholder {
  font-size: 1.1em;
  color: white;
}
/* line 56, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.search-group input[type='text']::-webkit-input-placeholder {
  font-size: 1.1em;
  color: white;
}
/* line 140, ../sass/styles.scss */
.search-group input[type='button'] {
  width: 120px;
  color: #ffffff;
  font-size: 1.1em;
  background-color: #007b00;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0;
  border-radius: 0 3px 3px 0;
}

/* line 150, ../sass/styles.scss */
.main {
  background-color: #fff;
}
/* line 152, ../sass/styles.scss */
.main .numbers {
  color: #000000;
  position: relative;
  top: -75px;
}
/* line 156, ../sass/styles.scss */
.main .numbers li {
  background-color: #ffffff;
  float: left;
  width: 25%;
  margin: auto;
  padding: 50px 0;
  position: relative;
  text-align: center;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 168, ../sass/styles.scss */
.main .numbers li strong {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}
/* line 173, ../sass/styles.scss */
.main .numbers li:first-child {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px 0 0 5px;
}
/* line 176, ../sass/styles.scss */
.main .numbers li:last-child {
  border-right: 1px solid #ccc;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0;
  border-radius: 0 5px 5px 0;
}

/* line 185, ../sass/styles.scss */
.how-it-works {
  margin-top: 100px;
}

/* line 189, ../sass/styles.scss */
.why-choose-us {
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* line 193, ../sass/styles.scss */
.why-choose-us h3 {
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  margin: 2em auto;
}
/* line 199, ../sass/styles.scss */
.why-choose-us .fa {
  line-height: 2em;
}
/* line 201, ../sass/styles.scss */
.why-choose-us .fa::before {
  font-size: 2em;
}
/* line 205, ../sass/styles.scss */
.why-choose-us li {
  float: left;
  width: 50%;
  padding: 20px 80px;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 211, ../sass/styles.scss */
.why-choose-us li i {
  left: 10px;
  top: 20px;
  position: absolute;
}
/* line 216, ../sass/styles.scss */
.why-choose-us li h4 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

/* line 227, ../sass/styles.scss */
footer {
  background-color: #fff;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0;
  border-radius: 0 0 10px 10px;
}

/* line 232, ../sass/styles.scss */
.foot-search {
  color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../img/background.jpg");
  background-position: bottom;
}
/* line 238, ../sass/styles.scss */
.foot-search .find-agent {
  height: 50px;
  position: relative;
}
/* line 243, ../sass/styles.scss */
.foot-search .search-box label {
  font-size: 1.5em;
  margin-right: 1em;
  vertical-align: middle;
}

/* line 251, ../sass/styles.scss */
.links {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 254, ../sass/styles.scss */
.links li {
  float: left;
  margin-left: 10px;
}
/* line 258, ../sass/styles.scss */
.links .link-self {
  margin-left: 10px;
}
/* line 261, ../sass/styles.scss */
.links .link-3rd {
  margin-right: 10px;
}
/* line 263, ../sass/styles.scss */
.links .link-3rd .icon-facebook {
  color: blue;
}
/* line 266, ../sass/styles.scss */
.links .link-3rd .icon-twitter {
  color: blue;
}
