/* line 5, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 16, ../sass/styles.scss */
.fn-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* line 22, ../sass/styles.scss */
.fn-left {
  float: left;
}

/* line 26, ../sass/styles.scss */
.fn-right {
  float: right;
}

/* line 30, ../sass/styles.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 31, ../sass/styles.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 36, ../sass/styles.scss */
.clearfix:after {
  clear: both;
}

/* line 43, ../sass/styles.scss */
.fa {
  font-size: 1em;
}

/* line 48, ../sass/styles.scss */
html, body {
  min-width: 1020px;
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  color: #000;
  background-color: #f4d18f;
}

/* line 55, ../sass/styles.scss */
body {
  margin: 50px;
}

/* line 60, ../sass/styles.scss */
.container .ctn {
  padding-left: 150px;
  padding-right: 150px;
}

/* line 66, ../sass/styles.scss */
.bar {
  height: 35px;
  background-color: #F4F4F4;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px;
  border-radius: 10px 10px 0 0;
}
/* line 70, ../sass/styles.scss */
.bar li {
  float: left;
  width: 15px;
  height: 15px;
  margin-top: 10px;
  margin-left: 10px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
/* line 78, ../sass/styles.scss */
.bar .close {
  background-color: #E76747;
}
/* line 81, ../sass/styles.scss */
.bar .min {
  background-color: #FAC002;
}
/* line 84, ../sass/styles.scss */
.bar .full {
  background-color: #52BEA6;
}

/* line 89, ../sass/styles.scss */
.header {
  color: #FEFEFE;
  padding: 300px 0;
  background-image: url("../img/background.jpg");
  overflow: hidden;
  position: relative;
}
/* line 95, ../sass/styles.scss */
.header .login {
  position: absolute;
  top: 30px;
  right: 150px;
}
/* line 99, ../sass/styles.scss */
.header .login .lg-item {
  margin-right: 10px;
}
/* line 102, ../sass/styles.scss */
.header .login .sign-up {
  margin-left: 20px;
  padding: 8px 25px;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 110, ../sass/styles.scss */
.header .title {
  text-align: center;
}
/* line 112, ../sass/styles.scss */
.header .title h1 {
  font-size: 2em;
}
/* line 115, ../sass/styles.scss */
.header .title h4 {
  margin-top: 5px;
  font-size: 1em;
}
/* line 120, ../sass/styles.scss */
.header .search {
  margin: 20px auto 0;
  text-align: center;
}

/* line 126, ../sass/styles.scss */
.search-group {
  height: 50px;
  position: relative;
}
/* line 129, ../sass/styles.scss */
.search-group input {
  height: 100%;
  border: none;
  line-height: 1em;
  vertical-align: middle;
  padding: 0 15px;
}
/* line 136, ../sass/styles.scss */
.search-group input[type='text'] {
  width: 450px;
  background-color: rgba(255, 255, 255, 0.25);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px 0 0 3px;
}
/* line 61, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.search-group input[type='text']:-moz-placeholder {
  font-size: 1.1em;
  color: #FEFEFE;
}
/* line 64, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.search-group input[type='text']::-moz-placeholder {
  font-size: 1.1em;
  color: #FEFEFE;
}
/* line 67, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.search-group input[type='text']:-ms-input-placeholder {
  font-size: 1.1em;
  color: #FEFEFE;
}
/* line 56, ../../../../../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.search-group input[type='text']::-webkit-input-placeholder {
  font-size: 1.1em;
  color: #FEFEFE;
}
/* line 146, ../sass/styles.scss */
.search-group input[type='button'] {
  width: 120px;
  color: #FEFEFE;
  font-size: 1.1em;
  background-color: #67DDAB;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0;
  border-radius: 0 3px 3px 0;
}

/* line 156, ../sass/styles.scss */
.main {
  background-color: #F4F4F4;
}
/* line 159, ../sass/styles.scss */
.main .underline:after {
  content: " ";
  display: block;
  position: relative;
  margin: 5px auto 0;
  text-align: center;
  width: 40px;
  border: 1px solid #ccc;
}

/* line 171, ../sass/styles.scss */
.numbers {
  color: #000000;
  position: relative;
  top: -75px;
}
/* line 175, ../sass/styles.scss */
.numbers li {
  background-color: #ffffff;
  float: left;
  width: 25%;
  margin: auto;
  padding: 50px 0;
  position: relative;
  text-align: center;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 187, ../sass/styles.scss */
.numbers li strong {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}
/* line 192, ../sass/styles.scss */
.numbers li:first-child {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px 0 0 5px;
}
/* line 195, ../sass/styles.scss */
.numbers li:last-child {
  border-right: 1px solid #ccc;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0;
  border-radius: 0 5px 5px 0;
}

/* line 202, ../sass/styles.scss */
.how-it-works {
  margin-top: 100px;
}

/* line 206, ../sass/styles.scss */
.why-choose-us {
  border-top: 1px solid #ccc;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* line 210, ../sass/styles.scss */
.why-choose-us h3 {
  color: #636363;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  margin: 2em auto;
}
/* line 217, ../sass/styles.scss */
.why-choose-us .fa {
  line-height: 2em;
}
/* line 219, ../sass/styles.scss */
.why-choose-us .fa::before {
  font-size: 2em;
}
/* line 223, ../sass/styles.scss */
.why-choose-us .icon-checkmark {
  color: #66BE93;
}
/* line 226, ../sass/styles.scss */
.why-choose-us .icon-tag {
  color: #01B4EA;
}
/* line 229, ../sass/styles.scss */
.why-choose-us .icon-loop {
  color: #ECB06A;
}
/* line 232, ../sass/styles.scss */
.why-choose-us .icon-user {
  color: #AF7AC4;
}
/* line 235, ../sass/styles.scss */
.why-choose-us .icon-clipboard {
  color: #F26D7E;
}
/* line 238, ../sass/styles.scss */
.why-choose-us .icon-thumbsup {
  color: #ED7F5B;
}
/* line 242, ../sass/styles.scss */
.why-choose-us li {
  float: left;
  width: 50%;
  padding: 20px 80px;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 248, ../sass/styles.scss */
.why-choose-us li i {
  left: 10px;
  top: 20px;
  position: absolute;
}
/* line 253, ../sass/styles.scss */
.why-choose-us li strong {
  color: #636363;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
/* line 260, ../sass/styles.scss */
.why-choose-us li p {
  color: #A3A3A3;
  margin-top: 10px;
}

/* line 268, ../sass/styles.scss */
.members {
  border-top: 1px solid #ccc;
  padding-top: 70px;
  padding-bottom: 70px;
  color: #60677A;
}
/* line 273, ../sass/styles.scss */
.members .tabs {
  width: 50%;
}
/* line 275, ../sass/styles.scss */
.members .tabs div {
  float: left;
  width: 50%;
  padding: 15px;
  font-size: 1.3em;
  color: #60677A;
  border: 1px solid #60677A;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 283, ../sass/styles.scss */
.members .tabs div.active {
  background-color: #60677A;
  color: #FEFEFE;
}
/* line 287, ../sass/styles.scss */
.members .tabs div:first-child {
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px 0 0 3px;
}
/* line 290, ../sass/styles.scss */
.members .tabs div:last-child {
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0;
  border-radius: 0 3px 3px 0;
}
/* line 295, ../sass/styles.scss */
.members p {
  margin-top: 30px;
  font-size: 1.2em;
}
/* line 298, ../sass/styles.scss */
.members p:before {
  content: "\"";
  display: block;
  margin-bottom: 5px;
  height: 1em;
}
/* line 305, ../sass/styles.scss */
.members .member-info {
  width: 60%;
  margin-top: 20px;
}
/* line 308, ../sass/styles.scss */
.members .member-info .member-box {
  float: left;
  width: 33.333333%;
  color: #60677A;
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 314, ../sass/styles.scss */
.members .member-info .member-box .name {
  font-weight: bold;
  display: block;
}
/* line 318, ../sass/styles.scss */
.members .member-info .member-box .position {
  display: block;
  margin-bottom: 15px;
  color: #A3A3A3;
}

/* line 329, ../sass/styles.scss */
footer {
  background-color: #F4F4F4;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0;
  border-radius: 0 0 10px 10px;
}

/* line 334, ../sass/styles.scss */
.foot-search {
  color: #FEFEFE;
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../img/background.jpg");
  background-position: bottom;
}
/* line 340, ../sass/styles.scss */
.foot-search .find-agent {
  height: 50px;
  position: relative;
}
/* line 345, ../sass/styles.scss */
.foot-search .search-box label {
  color: #FEFEFE;
  font-size: 1.5em;
  margin-right: 1em;
  vertical-align: middle;
}

/* line 354, ../sass/styles.scss */
.links {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 357, ../sass/styles.scss */
.links li {
  float: left;
  margin-left: 10px;
  font-size: 1.1em;
  line-height: 1.4em;
  vertical-align: middle;
}
/* line 363, ../sass/styles.scss */
.links li a {
  text-decoration: none;
  color: #A3A3A3;
}
/* line 368, ../sass/styles.scss */
.links .link-self {
  margin-left: 10px;
}
/* line 370, ../sass/styles.scss */
.links .link-self a:hover {
  text-decoration: underline;
}
/* line 374, ../sass/styles.scss */
.links .link-3rd {
  margin-right: 10px;
}
/* line 376, ../sass/styles.scss */
.links .link-3rd .fa {
  font-size: 1.4em;
}
/* line 379, ../sass/styles.scss */
.links .link-3rd .icon-twitter {
  color: #4D99CB;
}
/* line 382, ../sass/styles.scss */
.links .link-3rd .icon-facebook {
  color: #4E75B7;
}
