@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/";

// var
$bg-color: lighten(#000, 20%);
$bg-color-red: #B4000B;
$content-min-width: 959px;
//$bg-color-white-darken: #F2EEE8;
//$bg-content-color: #F2EEE8;
//$bg-color-blue: #80A8CC;

// utils
@mixin debug-bd($color) {
  border: 1px solid $color;
}

@mixin circle($width: 35px) {
  width: $width;
  height: $width;
  @include border-radius($width, $width);
}

.fn-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.fn-left {
  float: left;
}

.fn-right {
  float: right;
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  @include clearfix();
}

// font
.fa {
  font-size: 1rem;
}

html, body {
  min-width: $content-min-width;
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  color: #000;
  background-color: $bg-color;
  font-weight: lighter;
}