
.row {
  > .col {
    padding: 0 5px;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.control-panel,
.tweets-panel,
.topics-panel {
  > .panel-heading {
    text-align: center;
  }
}

// control-panel style
.control-panel {
  .project-box {
    > h2 {
      margin: 10px auto;
      text-align: center;
      font-size: inherit;
    }
  }
}

// tweets-panel style
.tweets-panel {
  .tweet-list-container {
    overflow-y: auto;
  }
  .tweet {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
  }
}
.tweets-process {
  .tweets-process-label {
    margin-right: 10px;
  }
  .tweets-process {
    margin-right: 10px;
    font-weight: normal;
    > input[type='checkbox'] {
      margin-right: 5px;
    }
  }
}
.tweet-body {
  position: relative;
  padding-left: 60px;
  .tweet-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: #AAAAAA;
    border-radius: 3px;
  }
}
.tweet-relations {
  .active {
    color: orange;
    font-weight: bold;
  }
}
.tweet-positives {
  .active {
    color: purple;
    font-weight: bold;
  }
}
