@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/";

// var
$main-bg-color: #F4F4F4;
$title-white-color: #FEFEFE;
$text-color: #A3A3A3;
$title-color: darken($text-color, 25%);

// utils
@mixin debug-bd($color) {
  border: 1px solid $color;
}

.fn-center {
  border-left: auto;
  border-right: auto;
  text-align: center;
}

.fn-left {
  float: left;
}

.fn-right {
  float: right;
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  @include clearfix();
}

// font
.fa {
  font-size: 1em;
}

// start
html, body {
  min-width: 1020px;
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  color: #000;
  background-color: #f4d18f;
}

body {
  margin: 50px;
}

.container {
  .ctn {
    padding-left: 150px;
    padding-right: 150px;
  }
}

.bar {
  height: 35px;
  background-color: $main-bg-color;
  @include border-radius(10px 10px 0 0);
  li {
    float: left;
    width: 15px;
    height: 15px;
    margin-top: 10px;
    margin-left: 10px;
    @include border-radius(15px);
  }
  .close {
    background-color: #E76747;
  }
  .min {
    background-color: #FAC002;
  }
  .full {
    background-color: #52BEA6;
  }
}

.header {
  color: $title-white-color;
  padding: 300px 0;
  background-image: url("../img/background.jpg");
  overflow: hidden;
  position: relative;
  .login {
    position: absolute;
    top: 30px;
    right: 150px;
    .lg-item {
      margin-right: 10px;
    }
    .sign-up {
      margin-left: 20px;
      padding: 8px 25px;
      border: 1px solid #ccc;
      @include border-radius(3px);
    }
  }

  .title {
    text-align: center;
    h1 {
      font-size: 2em;
    }
    h4 {
      margin-top: 5px;
      font-size: 1em;
    }
  }
  .search {
    margin: 20px auto 0;
    text-align: center;
  }
}

.search-group {
  height: 50px;
  position: relative;
  input {
    height: 100%;
    border: none;
    line-height: 1em;
    vertical-align: middle;
    padding: 0 15px;
  }
  input[type='text'] {
    width: 450px;
    background-color: rgba(lighten(#ffffff, 10%), .25);
    @include box-sizing(border-box);
    @include border-radius(3px 0 0 3px);
    @include input-placeholder {
      font-size: 1.1em;
      color: $title-white-color;
    }
  }
  input[type='button'] {
    width: 120px;
    color: $title-white-color;
    font-size: 1.1em;
    background-color: #67DDAB;
    @include box-sizing(border-box);
    @include border-radius(0 3px 3px 0);
  }
}

.main {
  background-color: $main-bg-color;
  .underline {
    &:after {
      content: " ";
      display: block;
      position: relative;
      margin: 5px auto 0;
      text-align: center;
      width: 40px;
      border: 1px solid #ccc;
    }
  }
}

.numbers {
  color: #000000;
  position: relative;
  top: -75px;
  li {
    background-color: #ffffff;
    float: left;
    width: 25%;
    margin: auto;
    padding: 50px 0;
    position: relative;
    text-align: center;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    @include box-sizing(border-box);
    strong {
      display: block;
      font-size: 1.5em;
      font-weight: bold;
    }
    &:first-child {
      @include border-radius(5px 0 0 5px);
    }
    &:last-child {
      border-right: 1px solid #ccc;
      @include border-radius(0 5px 5px 0);
    }
  }
}

.how-it-works {
  margin-top: 100px;
}

.why-choose-us {
  background-color: $main-bg-color;
  border-top: 1px solid #ccc;
  padding-top: 30px;
  padding-bottom: 30px;
  h3 {
    color: darken($text-color, 25%);
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    margin: 2em auto;
  }
  .fa {
    line-height: 2em;
    &::before {
      font-size: 2em;
    }
  }
  .icon-checkmark {
    color: #66BE93;
  }
  .icon-tag {
    color: #01B4EA;
  }
  .icon-loop {
    color: #ECB06A;
  }
  .icon-user {
    color: #AF7AC4;
  }
  .icon-clipboard {
    color: #F26D7E;
  }
  .icon-thumbsup {
    color: #ED7F5B;
  }

  li {
    float: left;
    width: 50%;
    padding: 20px 80px;
    position: relative;
    @include box-sizing(border-box);
    i {
      left: 10px;
      top: 20px;
      position: absolute;
    }
    strong {
      color: $title-color;
      font-size: 1.2em;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
    }
    p {
      color: $text-color;
      margin-top: 10px;
    }
  }
}

// footer
footer {
  background-color: $main-bg-color;
  @include border-radius(0 0 10px 10px);
}

.foot-search {
  color: $title-white-color;
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../img/background.jpg");
  background-position: bottom;
  .find-agent {
    height: 50px;
    position: relative;
  }
  .search-box {
    label {
      color: $title-white-color;
      font-size: 1.5em;
      margin-right: 1em;
      vertical-align: middle;
    }
  }
}

.links {
  padding-top: 20px;
  padding-bottom: 20px;
  li {
    float: left;
    margin-left: 10px;
    font-size: 1.1em;
    line-height: 1.4em;
    vertical-align: middle;
    a {
      text-decoration: none;
      color: $text-color;
    }
  }
  .link-self {
    margin-left: 10px;
    a:hover {
      text-decoration: underline;
    }
  }
  .link-3rd {
    margin-right: 10px;
    .fa {
      font-size: 1.4em;
    }
    .icon-twitter {
      color: #4D99CB;
    }
    .icon-facebook {
      color: #4E75B7;
    }
  }
}