@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/";

// var
$bg-color-white: #FFFBF5;
$bg-color-white-darken: #F2EEE8;
$bg-color-blue: #80A8CC;
$text-color-default: #8D8B86;

// utils
@mixin debug-bd($color) {
  border: 1px solid $color;
}

@mixin circle($width: 35px) {
  width: $width;
  height: $width;
  @include border-radius($width, $width);
}

.fn-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.fn-left {
  float: left;
}

.fn-right {
  float: right;
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  @include clearfix();
}

// font
.fa {
  font-size: 1rem;
}

// common
.circle {
  @include circle();
}

.circle-large {
  @include circle(80px);
}

.container {
  margin: 15px 0;
}

html, body {
  min-width: 1020px;
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  color: #000;
  background-color: $bg-color-white;
}

// container
body {
  position: relative;
  height: 100%;
}

// header
header {
  @include debug-bd(red);
  .circle {
    text-align: center;
    i {
      line-height: 35px;
    }
  }
  .menu {
    border-right: 1px solid #ccc;
    padding: 15px;
    .circle {
      background-color: $bg-color-blue;
    }
  }
  .bar {
    padding: 14px;
    li {
      float: left;
      margin-right: 15px;
    }
    .circle {
      border: 1px solid $bg-color-white-darken;
    }
  }
  .logo {
    line-height: 65px;
    color: $bg-color-blue;
    font-size: 35px;
  }
  .search {
    height: 65px;
    line-height: 65px;
    input {
      border: 1px solid #ccc;
      height: 35px;
      width: 180px;
      padding: 5px 10px;
      @include border-radius(18px);
      @include input-placeholder {
        color: #ccc;
      }
    }
  }
  .user {
    padding: 15px;
    margin-right: 5px;
    .circle {
      background-color: $bg-color-blue;
    }
  }
}

// main
section.main {
  position: relative;
  padding: 0 300px;
  height: 100%;

  .left {
    position: absolute;
    top: 0;
    left: 0;
    width: 270px;
    height: 100%;
    background-color: $bg-color-blue;
  }
  .right {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
  }
  .content {
    height: 1500px;
  }
}

.left {
  .user-info {
    color: #ffffff;
    padding: 30px 20px;
    .circle-large {
      margin-bottom: 20px;
      background-color: $bg-color-white;
      i {
        color: $bg-color-blue;
        line-height: 80px;
      }
    }
    strong {
      font-size: 1.3rem;
    }
    p {
      font-size: 1rem;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    a {
      color: #ffffff;
      text-decoration: none;
      display: block;
      &:hover {
        text-decoration: underline;
      }
    }
    .site {
      margin-bottom: 15px;
      &:before {
        content: ",";
        margin-right: 10px;
      }
    }
    .follow {
      width: 50px;
      padding: 8px 40px;
      background-color: darken($bg-color-blue, 20%);
      @include border-radius(17px);
    }
  }
  .pictures {
    width: 100%;
    li {
      @include debug-bd(blue);
      float: left;
      width: 90px;
      height: 90px;
      @include box-sizing(border-box);
    }
  }
  .activities {
    padding: 25px 20px;
    strong, a {
      color: white;
    }
    i, span {
      color: darken($bg-color-blue, 20%);
    }
    ul {
      margin-top: 10px;
      li {
        line-height: 25px;
      }
    }
    span {
      margin-left: 5px;
    }
    a {
    }
  }

}

.right{
  @include debug-bd(red);
  .trends{
    padding: 25px 20px;
    strong{
      font-size: 1.2rem;
      text-transform: uppercase;
      color: $text-color-default;
      font-weight: lighter;

    }
    ul{
      margin-top: 15px;
      a{
        line-height: 1.5rem;
        color: $bg-color-blue;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }

  .followed{
    li{
      margin-top: 20px;
//      float: left;
    }

    .more{
      padding-right: 0;
    }
  }
}