@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/";

// var
$bg-color-white: #FFFBF5;
$bg-color-white-darken: #F2EEE8;
$bg-content-color: #F2EEE8;
$bg-color-blue: #80A8CC;
$text-color-default: #8D8B86;
$text-color-lighten: #CAC5B6;

// utils
@mixin debug-bd($color) {
  border: 1px solid $color;
}

@mixin circle($width: 35px) {
  width: $width;
  height: $width;
  @include border-radius($width, $width);
}

.fn-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.fn-left {
  float: left;
}

.fn-right {
  float: right;
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  @include clearfix();
}

// font
.fa {
  font-size: 1rem;
}

// common
.circle {
  @include circle();
}

.circle-large {
  @include circle(80px);
}

.container {
  margin: 15px 0;
}

html, body {
  min-width: 1020px;
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  color: #000;
  background-color: $bg-color-white;
}

// container
body {
  position: relative;
  height: 100%;
  font-weight: lighter;
}


/* main layout */
section.main {
  position: relative;
  padding: 0 300px 0 270px;
  height: 100%;

  .left {
    position: absolute;
    top: 0;
    left: 0;
    width: 270px;
    height: 100%;
    background-color: $bg-color-blue;
  }
  .right {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
  }
  .content {
    padding: 25px;
    background-color: $bg-content-color;
  }
  .content-box {
    margin-top: 25px;
    background-color: $bg-color-white;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    > li {
      border-bottom: 1px solid #cccccc;
    }
  }
}

// header
header {
  border-bottom: 1px solid $bg-color-white-darken;
  .circle {
    text-align: center;
    i {
      line-height: 35px;
    }
  }
  .menu {
    border-right: 1px solid $bg-color-white-darken;
    padding: 15px;
    .circle {
      background-color: $bg-color-blue;
    }
  }
  .bar {
    padding: 14px;
    li {
      float: left;
      margin-right: 15px;
    }
    .circle {
      border: 1px solid $bg-color-white-darken;
    }
  }
  .logo {
    line-height: 65px;
    color: $bg-color-blue;
    font-size: 35px;
  }
  .search {
    height: 65px;
    line-height: 65px;
    input {
      border: 1px solid #ccc;
      height: 35px;
      width: 180px;
      padding: 5px 10px;
      @include border-radius(18px);
      @include input-placeholder {
        color: #ccc;
      }
    }
  }
  .user {
    padding: 15px;
    margin-right: 5px;
    .circle {
      background-color: $bg-color-blue;
    }
  }
}

/* left side */
.user-info {
  color: #ffffff;
  padding: 30px 20px;
  .circle-large {
    margin-bottom: 20px;
    background-color: $bg-color-white;
    i {
      color: $bg-color-blue;
      line-height: 80px;
    }
  }
  strong {
    font-size: 1.3rem;
  }
  .right {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
  }
  p {
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    &:hover {
      text-decoration: underline;
    }
  }
  .site {
    margin-bottom: 15px;
    &:before {
      content: ",";
      margin-right: 10px;
    }
  }
  .follow {
    width: 50px;
    padding: 8px 40px;
    background-color: darken($bg-color-blue, 20%);
    @include border-radius(17px);
  }
}

.pictures {
  width: 100%;
  li {
    @include debug-bd(blue);
    float: left;
    width: 90px;
    height: 90px;
    @include box-sizing(border-box);
  }
}

.activities {
  padding: 25px 20px;
  strong, a {
    color: white;
  }
  i, span {
    color: darken($bg-color-blue, 20%);
  }
  ul {
    margin-top: 10px;
    li {
      line-height: 25px;
    }
  }
  span {
    margin-left: 5px;
  }
  a {
  }
}


/* center */
.twitter-numbers {
//  border: 1px solid #ccc;
  background-color: $bg-color-white;
  border: 1px solid #ccc;
  li {
    float: left;
    width: 25%;
    padding: 20px 0;
    &.active {
      border-bottom: 5px solid $bg-color-blue;
    }
  }
  span {
    color: $text-color-default;
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
  strong {
    display: block;
    margin-top: 0.3rem;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1.3rem;
  }
}
.twitter {
  position: relative;
  padding: 2rem 2rem 2rem 6rem;
  .circle {
    background-color: $bg-color-blue;
  }
  .user {
    position: absolute;
    left: 2rem;
  }
  .name {
    font-weight: bold;
  }
  .at {
    color: $text-color-lighten;
  }
  .time {
    color: $text-color-lighten;
  }
  p {
    margin: 0.5rem 0 1rem;
    line-height: 1.5rem;
  }
  li {
    float: left;
    margin-right: 1rem;
    &.last {
      float: right;
      margin-right: 0;
    }
    i {
      color: $text-color-lighten;
      cursor: pointer;
      &:hover {
        color: inherit;
      }
      span {
        margin-left: 0.3rem;
      }
    }
  }
}

/*right*/
.right{
  .trends{
    padding: 5px 20px;

    .links{
      margin: 1.2rem 0.5rem 0.8rem 0.5rem;
    }

    .header{
      padding-bottom: 0.8rem;

    }

    strong{
      font-size: 1.2rem;
      text-transform: uppercase;
      color: $text-color-default;
      font-weight: lighter;
    }

    a{
      line-height: 1.8rem;
      color: $bg-color-blue;
      font-size: 1.1rem;
      font-weight: lighter;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }

  .followed{
    margin: 1.2rem 0.5rem 0.8rem 0.5rem;
    position: relative;

    .header{
      position: relative;
      padding-right: 0;

      strong{
        position: relative;
      }

      .more{
        position: absolute;
        right: 0;
        font-size: 1.3rem;
        &:hover{
          color: inherit;
        }
      }
    }

    li{
      position: relative;
      margin-top: 0.8rem;

//      .circle {
//        background-color: $bg-color-blue;
//      }

      img{
        height: 35px;
        width: 35px;
        border-radius: 35px 35px;
        position: absolute;
      }

      .user {
        position: absolute;
      }

      .name{
        margin-left: 4rem;
        font-size: 1.1rem;
        width: 12rem;
        white-space: nowrap;
        text-overflow:ellipsis;
        overflow: hidden;
        color: $text-color-default;
      }

      .role{
        margin-left: 4rem;
        font-size: 1.1rem;
        width: 12rem;
        white-space: nowrap;
        text-overflow:ellipsis;
        overflow: hidden;
        color: $text-color-lighten;
      }

      .followedIcon{
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.2px 3px 0.2px 3px;
        border: 1px solid $text-color-lighten;
      }
    }
  }
}